.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #eea8ab;
}

header p::before {
  content: url("./img/NCHSlogo.png");
}

header p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 35px;
  color: lightgray;
}

ul {
  list-style-type: none;
}

img {
  max-width: 50%;
  max-height: auto;
  transform: scale(1.4); /* Shrinks the image to 50% */
  position: relative;
  top: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

button {
  font-size: 18px;
  padding: 2px 10px;
  margin: 5px;
  border-radius: 3px;
}

ul :nth-child(even) button {
  border-color: #949615;
  background-color: #f5e610;
}

ul :nth-child(odd) button {
  border-color: #839615;
  background-color: #cbf510;
}

figure {
  margin: 0 33%;
}